@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

*,
*::before,
*::after {
  animation: none !important;
  transition: none !important;
}

@layer utilities {
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
